[Unit]
Description=Synology NFS share - harbor_srv
After=network-online.target
Wants=network-online.target

[Mount]
What=192.168.1.10:/volume1/harbor_srv
Where=/mnt/synology/harbor_srv
Type=nfs
Options=nfsvers=4.1,rw,hard,_netdev

[Install]
WantedBy=multi-user.target
