[Unit]
Description=Synology NFS share - harbor_srv
After=network-online.target rpc-gssd.service
Wants=network-online.target
Requires=rpc-gssd.service

[Mount]
What=synology:/volume1/harbor_srv
Where=/mnt/synology/harbor_srv
Type=nfs
Options=nfsvers=4.1,proto=tcp,sec=krb5i,rw,soft,timeo=100,retrans=3,_netdev
TimeoutSec=30

[Install]
WantedBy=multi-user.target
